extends layout

block head
    script(type='text/javascript', src='/js/jquery.onepage-scroll.js')

block body
    div.wrapper
        div.main
            section.page1
                div.page_container
                    div.left
                        img.logo(src='/img/robocoding.png', alt='logo')
                        h2 An amazing journey to master programming
                        p.credit Built by Students
                        div.btns
                            a.reload.btn(href='/sumorobot') Try it!
                    div.right
                        img(src='/img/nice.jpg', alt='nice')

            section.page2
                div.page_container
                    img.half(src='/img/motion.jpg', alt='motion')
                    img.half(src='/img/sensors.jpg')
                    h1 Coding
                    h2 All you need are simple comands
                    code.blue
                        | #include &lt;servo.h><br>
                        | #include &lt;sumorobot.h><br>
                        | void setup() { }<br>
                        | void loop() { }
                    code.orange
                        | left();<br>
                        | right();<br>
                        | forward();<br>
                        | backward();

            section.page3
                div.page_container
                    div.left
                        h1 Amazing eh?
                        h2 Troughout the journey you earn points and badges which you can share with your friends trough social media
                        div.btns
                            a.reload.btn(href='http://github.com/silps/sumoino/archive/master.zip') Arduino library
                    div.right
                        img(src='/img/workshop.jpg', alt='wokrshop')

            section.page4
                div.page_container
                    h1 Order a kit
                    h2 Choose which parts you need
                    form#order(action='/order', method='post')
                        img.inactive(src='/img/body.jpg', alt='body')
                        input#body-check(type='checkbox', name="body")

                        img.inactive(src='/img/servo.jpg', alt='servo')
                        input#servo-check(type='checkbox', name="servo")

                        img.inactive(src='/img/shield.jpg', alt='shield')
                        input#shield-check(type='checkbox', name="shield")

                        img.inactive(src='/img/sumorobot.jpg', alt='sumorobot')
                        input#sumorobot-check(type='checkbox', name="sumorobot")

                        button.reload.btn(type='submit') Place order

            div.back
                strong Quick keys: 
                strong.hightlight T
                | -
                a(href='/sumorobot') Try it
                |
                strong.hightlight A
                | -
                a(href='http://github.com/silps/sumoino/archive/master.zip') Arduino library
                |
                strong.hightlight C
                | -
                a(href='http://github.com/robocoding/') Source Code