extends layout

block head
    script(type="text/javascript", src="/js/jquery.onepage-scroll.js")

block body
    div.wrapper
        div.main
            section.page1
                div.page_container
                    div.left
                        img.logo(src="/img/robokoding.png", alt="logo")
                        h2 An amazing journey to master programming
                        p.credit Built by Students
                        div.btns
                            a.reload.btn(href="/sumorobot") Try it!
                    div.right
                        img(src="/img/nice.jpg", alt="nice")

            section.page2
                div.page_container
                    img.half(src="/img/motion.jpg", alt="motion")
                    img.half(src="/img/sensors.jpg")
                    img.half(src="/img/app.png")
                    h1 Coding
                    h2 All you need are simple comands
                    code.blue
                        | #include &lt;servo.h><br>
                        | #include &lt;sumorobot.h><br>
                        | void setup() { }<br>
                        | void loop() { }
                    code.orange
                        | left();<br>
                        | right();<br>
                        | forward();<br>
                        | backward();

            section.page3
                div.page_container
                    div.left
                        h1 Amazing eh?
                        h2 Troughout the journey you earn points and badges which you can share with your friends trough social media
                        div.btns
                            a.reload.btn(href="https://github.com/robokoding/sumorobot-arduino/") Arduino library
                    div.right
                        img(src="/img/workshop.jpg", alt="workshop")

            section.page4
                div.page_container
                    div.left
                        h1 Build one
                        h2 Just follow the step by step instructions
                        div.btns
                            a.reload.btn(href="http://www.instructables.com/id/Arduino-Sumorobot/") Instructables
                    div.right
                        img(src="/img/soldering.jpg", alt="soldering")

            section.page5
                div.page_container
                    h1 Order a kit
                    h2 Choose which parts you need

                    div(style="display: none")
                        div#page1
                            | The sumorobot body
                            br
                            img.info(src="/img/body.jpg", alt="body")
                        div#page2
                            | The sumorobot servo
                            br
                            img.info(src="/img/servo.jpg", alt="servo")
                        div#page3
                            | The sumorobot shield
                            br
                            img.info(src="/img/shield.jpg", alt="shield")
                        div#page4
                            | The sumorobot
                            br
                            img.info(src="/img/sumorobot.jpg", alt="sumorobot")

                    form#order(action="/order", method="post")
                        div.item
                            a.fancybox(href="#", rel="gallery")
                                img.inactive#body-img(src="/img/body.jpg", alt="body")
                            input#body-check(type="checkbox", name="body")
                        div.item
                            a.fancybox(href="#", rel="gallery")
                                img.inactive#servo-img(src="/img/servo.jpg", alt="servo")
                                input#servo-check(type="checkbox", name="servo")
                        div.item
                            a.fancybox(href="#", rel="gallery")
                                img.inactive#shield-img(src="/img/shield.jpg", alt="shield")
                                input#shield-check(type="checkbox", name="shield")
                        div.item
                            a.fancybox(href="#", rel="gallery")
                                img.inactive#sumorobot-img(src="/img/sumorobot.jpg", alt="sumorobot")
                                input#sumorobot-check(type="checkbox", name="sumorobot")
                        div(style="clear: both;")
                        
                        button.reload.btn(type="submit") Place order

            div.back
                strong Quick keys: 
                strong.hightlight T
                strong -
                a(href="/sumorobot") Try it
                strong |
                strong.hightlight A
                strong -
                a(href="https://github.com/robokoding/sumorobot-arduino") Arduino library
                strong |
                strong.hightlight S
                strong -
                a(href="https://github.com/robokoding/robokodingweb") Source Code
                strong |
                strong.hightlight I
                strong -
                a(href="http://www.instructables.com/id/Arduino-Sumorobot/") Instructables
                strong |
                strong.hightlight C
                strong -
                a(href="https://github.com/silps") Contact