doctype
html(lang="en")
    head
        title RoboCoding

        meta(charset="utf-8")
        meta(name="author", content="Built by Students")
        meta(name="keywords", content="Arduino, Robotics, Sumorobot, Programming, Learning, Competition")
        meta(name="description", content="Learn programming and robotics in a fun, interactive and collaborative environment")
        meta(name="viewport", content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no")

        link(rel="favicon", href="/img/nice.png")
        link(href="/css/style.css", rel="stylesheet", type="text/css")
        link(href="/css/onepage-scroll.css", rel="stylesheet" type="text/css")
        link(href="/js/fancybox/source/jquery.fancybox.css", rel="stylesheet" type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Pacifico:400", rel="stylesheet", type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700", rel="stylesheet", type="text/css")

        script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.1.js")
        script(type="text/javascript", src="http://code.jquery.com/ui/1.10.4/jquery-ui.js")
        script(type="text/javascript", src="/js/fancybox/source/jquery.fancybox.js")
        block head
    body
        block body