extends layout

block head
	script(type="text/javascript", src="/js/sumorobot.js")
	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript", src="/js/blockly/blockly_compressed.js")
	script(type="text/javascript", src="/js/blockly/blocks_compressed.js")
	script(type="text/javascript", src="/js/blockly/javascript_compressed.js")
	script(type="text/javascript", src="/js/blockly/msg/js/en.js")

block body
	#div.video-wrapper
		#img.tutorial(src="/img/camera.jpg", alt="camera")
		#img.tutorial(src="/img/motion.jpg", alt="motion")
		#img.tutorial(src="/img/sensors.jpg", alt="sensors")
	#div(style="clear: both;")

	div.blockly-wrapper
		div#blockly-div
		div#code-wrapper
			textarea#sumorobot-code(readonly, placeholder="Arduino code comes here ...")
	div(style="clear: both;")

	div.buttons
		button.reload(onclick="javascript:showExample(lineExample);") Example 1
		button.reload(onclick="javascript:showExample(enemyExample);") Example 2
		button.reload(onclick="javascript:toggleCodingMode();") Coding mode
		button#upload.reload(onclick="javascript:sendCode();") Upload code
