extends layout

block content
	script(type='text/javascript', src='/js/sumorobot.js')
	script(type='text/javascript', src='/js/blockly/blockly_compressed.js')
	script(type='text/javascript', src='/js/blockly/blocks_compressed.js')
	script(type='text/javascript', src='/js/blockly/arduino_compressed.js')
	script(type='text/javascript', src='/js/blockly/javascript_compressed.js')
	script(type='text/javascript', src='/js/blockly/msg/js/en.js')

	h1 Sumorobot programming
	div#video
		//img(src="http://localhost:8080/?action=stream")

	xml#toolbox(style="display: none").
		<block type="sumorobot_libraries"></block>
		<block type="sumorobot_main"></block>
		<block type="controls_if"></block>
		<block type="sumorobot_opponent"></block>
		<block type="sumorobot_line"></block>
		<block type="sumorobot_move"></block>

	div.blockly-wrapper
		div#blockly-div
		textarea#arduino-code(readonly, placeholder="Arduino code comes here ...")
	div(style="clear: both;")

	div#buttons
		input.btn.reload(type="button", value="Send Code", onclick="javascript:showCode();") SEND