body {
    font-family: 'open sans';
    background: rgb(230, 217, 200);
    -webkit-font-smoothing: antialiased;
}

img {
    width: 100%;
}

img.tutorial {
    width: 30%;
}

img.half {
    width: 40%;
}

img.logo {
    width: 80%;
}

a {
    color: #006dcc;
    text-decoration: none;
}

code {
    margin: 1%;
    width: 48%;
    float: left;
    height: auto;
    color: white;
    font-size: 1.5em;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: rgba(0,0,0,0.1);
    -webkit-box-sizing: border-box;
    border: rgba(0,0,0,0.05) 5px solid;
}

code.blue {
    color: #7EC9E6;
}

code.orange {
    color: #FFAD00;
}

.wrapper {
    margin: auto;
    overflow: hidden;
    height: 100% !important;
}

.pointer {
    color: #9b59b6;
    font-size: 1em; 
}

.reload {
    padding: 2%;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    background: #006dcc;
    display: inline-block;
    -moz-border-radius: 5px;
    color: rgb(255, 255, 255);
    border: 4px solid #006dcc;
    -webkit-border-radius: 5px;
}

.btn {
    width: 50%;
}

.clear {
    width: auto;
}

.btn:hover, .btn:hover {
    background: #7EC9E6;
    border-color: #7EC9E6;
}

.credit {
    clear: both;
    color: rgba(0,0,0,0.5);
}

.credit a {
    font-weight: bold;
    text-decoration: none;
    color: rgba(0,0,0,0.85);
}

.back {
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    color: #000;
    padding: 7px;
    font-size: 1em;
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    background: rgba(255, 255, 255, 0.25);
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
}

.back:hover {
    color: black;
    background: rgba(255, 255, 255, 0.5);
}

header {
    position: relative;
}

.main section {
    width: 100%;
    height: 100%;
    display: table;
    overflow: hidden;
    position: absolute;
    text-align: center;
}

.main section .page_container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.main section h1 {
    margin: 0px;
    font-size: 4em;
}

.main section h2 {
    margin: 0px;
}

.main section.page1 {
    background: rgb(230, 217, 200);
}

.main section.page1 h2 {
    color: rgba(0,0,0,0.85);
}

.main section .page_container .btns {
    padding: 2% 0% 2% 0%;
    width: 100%;
    clear: both;
}

.main section.page2 {
    background: #555557;
}

.main section.page2 .page_container {
    overflow: hidden;
}

.main section.page2 h1 {
    color: white;
}

.main section.page2 h2 {
    color: rgba(255,255,255,0.85);
}

.viewing-page-2 .back {
    color: #FFF;
    background: rgba(0, 0, 0, 0.25);
}

.main section.page3 {
    background: #E2E4E7;
}


.main section.page3 h2 {
    color: rgba(0,0,0,0.85);
}

.main section.page4 {
    background: #FFEFEF;
}

.main section.page4 img {
    margin: 1%;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    cursor: pointer;
}

.main section.page4 img.active {
    opacity: 1.0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.main section.page4 img.inactive {
    opacity: .4;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.main section.page4 input[type="checkbox"] {
    display: none;
}

.hightlight {
    color: #d14;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 3px;
    white-space: nowrap;
    -moz-border-radius: 3px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    -webkit-border-radius: 3px;
}

.blockly-wrapper {
    height: 40%;
    width: 100%;
}

.video-wrapper {
    text-align: center;
}

.buttons {
    text-align: center;
}

#blockly-div {
    width: 50%;
    float: left;
    height: 100%;
}

#arduino-code {
    margin: 0;
    padding: 0;
    width: 49%;
    float: left;
    height: 100%;
    border: 1px solid rgb(230, 217, 200);
}

@media (min-width: 900px) {
    .left {
        width: 45%;
        float: left;
        margin-left: 2px;
    }

    .right {
        width: 45%;
        float: left;
    }
}

@media (min-width: 615px) and (max-width: 900px) {
    #blockly-div {
        width: 100%;
        height: 100%;
    }

    #arduino-code {
        display: none;
    }

    .back {
        display: none;
    }

    img, img.half {
        width: 40%;
    }
}

@media (max-width: 615px) {
    #blockly-div {
        width: 100%;
        height: 100%;
    }

    #arduino-code {
        display: none;
    }

    img, img.half {
        width: 80%;
    }

    code {
        width: 48%;
        font-size: 0.75em;
        border-radius: 5px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background: rgba(0,0,0,0.1);
        -webkit-box-sizing: border-box;
        border: rgba(0,0,0,0.05) 5px solid;
    }

    .main section h1 {
        font-size: 2em;
    }

    .main section h2 {
        font-size: 1em;
    }

    .back {
        display: none;
    }
}