body {
    text-align: center;
    font-family: 'open sans';
    -webkit-font-smoothing: antialiased;
}

img {
    width: 100%;
}

img.half {
    width: 40%
}

a {
    text-decoration: none;
}

code {
    margin: 1%;
    width: 48%;
    float: left;
    height: auto;
    color: white;
    font-size: 1.5em;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: rgba(0,0,0,0.1);
    -webkit-box-sizing: border-box;
    border: rgba(0,0,0,0.05) 5px solid;
}

code.blue {
    color: #7EC9E6;
}

code.orange {
    color: #FFAD00;
}

.wrapper {
    margin: auto;
    overflow: hidden;
    height: 100% !important;
}

.pointer {
    color: #9b59b6;
    font-size: 1em; 
}

.reload, .btn {
    padding: 0.7em;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.btn {
    width: 50%;
    background: #006dcc;
    color: rgb(255, 255, 255);
    border: 4px solid #006dcc;
}

.clear {
    width: auto;
}

.btn:hover, .btn:hover {
    background: #7EC9E6;
    border-color: #7EC9E6;
}

.credit {
    clear: both;
    color: rgba(0,0,0,0.5);
}

.credit a {
    font-weight: bold;
    text-decoration: none;
    color: rgba(0,0,0,0.85);
}

.back {
    top: 0;
    left: 0;
    width: 100%;
    color: #000;
    padding: 7px;
    font-size: 1em;
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    background: rgba(255, 255, 255, 0.25);
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
}

.back:hover {
    color: black;
    background: rgba(255, 255, 255, 0.5);
}

header {
    z-index: 10;
    position: relative;
}

.main section {
    width: 100%;
    height: 100%;
    display: table;
    overflow: hidden;
    position: absolute;
}

.main section .page_container {
    z-index: 3;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.main section.page1 {
    background: rgb(230, 217, 200);
}

.main section.page1 h1 {
    margin: 0px;
    font-size: 4em;
}

.main section.page1 h2 {
    margin: 0px;
    color: rgba(0,0,0,0.85);
}

.main section .page_container .btns {
    padding: 2% 0 2% 0;
    width: 100%;
    clear: both;
}

.main section.page2 {
    background: #555557;
}

.main section.page2 .page_container {
    overflow: hidden;
}

.main section.page2 h1 {
    margin: 0px;
    color: white;
    font-size: 4em;
}

.main section.page2 h2 {
    margin: 0px;
    color: rgba(255,255,255,0.85);
}

.viewing-page-2 .back {
    color: #FFF;
    background: rgba(0, 0, 0, 0.25);
}

.main section.page3 {
    background: #E2E4E7;
}

.main section.page3 h1 {
    margin: 0px;
    font-size: 4em;
    margin-bottom: 0;
}

.main section.page3 h2 {
    margin: 0px;
    color: rgba(0,0,0,0.85);
}

.hightlight {
    color: #d14;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 3px;
    white-space: nowrap;
    -moz-border-radius: 3px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    -webkit-border-radius: 3px;
}

@media (min-width: 900px) {
    .left {
        width: 45%;
        float: left;
        margin-left: 2px;
    }

    .right {
        width: 45%;
        float: left;
    }
}

@media (min-width: 615px) and (max-width: 900px) {
    .back {
        display: none;
    }
    
    img, img.half {
        width: 40%;
    }
}

@media (max-width: 615px) {
    img, img.half {
        width: 80%;
    }

    code {
        width: 48%;
        font-size: 0.75em;
        border-radius: 5px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background: rgba(0,0,0,0.1);
        -webkit-box-sizing: border-box;
        border: rgba(0,0,0,0.05) 5px solid;
    }

    .main section.page1 h1,
    .main section.page2 h1,
    .main section.page3 h1 {
        font-size: 2em;
    }

    .main section.page1 h2,
    .main section.page2 h2,
    .main section.page3 h2 {
        font-size: 1em;
    }

    .back {
        display: none;
    }
}